.action-btn {
    cursor: pointer;
    background-color: #6658d3;
    border-radius: 6px;
    border: 0;
    color: #FFF;
    font: inherit;
    font-size: 1.25rem;
    font-weight: 500;
    padding: 1em;
    width: 100%;
}

.action-btn:focus {
    outline: 0;
}

.action-btn--small {
    text-align: center;
   font-size: 0.85rem;
   color: black;
   background-color: white;
   border-radius: 5px;
   width: 90px;
   transition: all ease 0.4s


}

.action-btn--small:hover {
    background-color: rgb(179, 179, 179);
}

.action-btn:disabled {
    cursor: not-allowed;
    opacity: 0.8;
  }